@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'poppins', sans-serif;
    background: linear-gradient(to right, red, black, blue) fixed;
    padding: 50px;
    margin: 30px;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    background-color: blue;
    padding: 10px;
    border: 1px solid black;
}

nav ul li:hover {
    color: white;
    background-color: darkorange;
}

img {
    width: 200px;
    height: 380px;
    border: 1px solid white;
    margin: 50px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header div {
    background-color: #ffc600;
    padding: 10px;
    height: 360px;
    text-align: center;
    grid-gap: 20px;
}

.projects {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    grid-gap: 20px;
}

.homework {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

section h3 {
    text-decoration: underline;
}

section {
    background-color: #ffc600;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

section ul li {
    list-style: none;
}

.info {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
}